{% extends 'base.j2' %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="w-full h-10 bg-green-500 text-center self-start">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
  <form method="post" class="flex flex-col items-center justify-center">
    <h1 class="text-xl">{{_('Log In')}}</h1>
    {{form.username()}}
    {{form.password()}}
    {{form.submit()}}
    {{form.csrf_token()}}
  </form>
{% endblock content %}