<div class="absolute top-0 left-0 h-full bg-blue-400 flex flex-col border-r border-slate-500 items-center gap-3 text-white">
    <div id="logo" class="text-xl shadow-md px-10 h-fit w-full py-3">
        <p class="mx-auto text-center">QRThing</p>
    </div>
    <a class="menu-item mx-4 px-2 py-2 flex flex-row items-center border-slate-300 border rounded-md hover:shadow-md cursor-pointer transition-all">
        <i class="bi bi-qr-code text-xl mr-2"></i>
        <b>Create new code</b>
    </a>
    <a class="menu-item mx-4 px-2 py-2 flex flex-row items-center border-slate-300 border rounded-md hover:shadow-md cursor-pointer transition-all">
        <i class="bi bi-list text-xl mr-2"></i>
        <b>Manage codes</b>
    </a>
</div>