{% extends 'base.j2' %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="w-full h-10 bg-green-500 text-center">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="flex-1 flex items-center justify-center">
  <div class="flex flex-col items-center justify-center gap-2">
    <h1 class="text-4xl">{{_('Welcome to LinkThing!')}}</h1>
    <p>{{_('Use the navigation bar to get started')}}</p>
  </div>
</div>
{% endblock content %}